@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Story of Unique University and the founder.</h2>
<h3>Unique University was founded in 2020 March right after COVID-19 started. The founder Yu-Chun saw the needs of students who couldn't go to school to learn in-person, so he decided to create a university where only provides online courses to everyone in the world. Unique University put students into different courses based on your learning style and leves. Therefore, students will have the best education experience ever!</h3>

<hr />

<h2>Founder Contact Information</h2>
<h3>Name: Yu-Chun</h3>
<h3>Phone: 222-222-2222</h3>
<h3>Email: unique.university@gmail.com</h3>

<hr />

<h2>Student Body Statistics</h2>

<table class="table table-dark table-striped table-hover table-responsive">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>