@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Unique University</h1>
</div>
<div class="row">
    <h3>
        Unique University strives to provide the most unique education experience for all the students in the world by applying different teaching styles based on students' needs and levels.
    </h3>
    <img src=@Url.Content("~/images/university.jpeg") alt="university image" class="img-fluid rounded" style="width:80%;" />
</div>